*{
    font-family: Arial, serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #33dfff;
}

h1,h2,h3,h4,h5,h6, text{
    margin: 0.5% 0;
}

#titulo{
    margin-left:1vw;
}

/*Button*/
button{
    transition: transform .2s;
    margin: 0 2.5%;
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
}

/*Resultado*/
#resultado{
    display: none;
}

@media only screen and (max-device-width: 900px) {
    #botoes button{
        margin:1% 5%;
    }
    #botoes button img{
        width:80%;
    }
    #botoes button p{
       margin: 0;
    }
    #player{
        position:absolute;
        top:25vh;
        left:35vw;

    }
    #npc{
        position:absolute;
        bottom:11vh;
        left:35vw;
    }

    #lblPlayer,#lblNpc{
        text-shadow:#444 2px -2px, #444 -2px 2px, #444 2px 2px, #444 -2px -2px;
        color: white;
        font-size: 30px;
        position:absolute;
        
    }
    #lblNpc{
        margin:0 35vw;
        top:58vh;
    }
    #lblPlayer{
        left:35vw;
        top:25vh;
    }
    #vs{
        position: absolute;
        top:34vh;
        left:-25vw;
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform:rotate(90deg);
        transform:rotate(90deg);
        width: 150%;
        height: 40%;

    }
    #restart{
        position: relative;
        top: 70vh;
    }
}

@media only screen and (min-device-width: 901px) {
    #botoes{
        margin:2%;
    }
    #player, #npc{
        position:absolute;
        top: 38vh;
    }
    #player{
        left:32vw;
    }
    #npc{
        right: 32vw;
    }

    #lblPlayer,#lblNpc{
        text-shadow:#444 2px -2px, #444 -2px 2px, #444 2px 2px, #444 -2px -2px;
        color: white;
        font-size: 30px;
        position:absolute;
        top: 28vh;
    }
    #lblNpc{
        right:30vw;
    }
    #lblPlayer{
        left:33.5vw;
    }
    #restart{
        margin: 1% 0;
        
    }
}
